name: "Python Lint"
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install black flake8
      - name: Run Black
        run: |
          black --check .
      - name: Run Flake8
        run: |
          flake8 .
